<div class="container">
    <h2>Liste des Commandes</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nom Client</th>
          <th>Montant Total</th>
          <th>Date Commande</th>
          <th>Quantité</th>  <!-- Nouvelle colonne pour la quantité -->
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let commande of commandes">
          <td>{{ commande.id }}</td>
          <td>{{ commande.nomClient }}</td>
          <td>{{ commande.montantTotal | currency }}</td>
          <td>{{ commande.dateCommande | date: 'dd/MM/yyyy' }}</td>
          <td>{{ commande.quantite }}</td>  <!-- Affichage de la quantité -->
          <td>
            <button class="btn btn-danger" (click)="supprimerCommande(commande.id)">
              Supprimer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  